# App
PORT=3000
NODE_ENV=development

# Database
# schema=your_schema_name — ใส่ชื่อ schema ของ PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=kratom_finance_db"
DATABASE_SCHEMA=kratom_finance_db
